{% extends "base_site.html" %}

{% block title %} Game View {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">

          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Game Overview</h3>
              </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">

                  <div class="x_content">

                    <div class="col-md-4 col-sm-4">
                      <div>
                        <img class="img-responsive avatar-view" src="{{ title.img_url }}" alt="..." />
                      </div>
                    </div>

                    <div class="col-md-5 col-sm-5 " style="border:0px solid #e5e5e5;">

                      <h3 class="prod_title">{{ title.title }}</h3>

                      <h4>{{ title.description }}</h4>
                      <br />

                        <h2>Release Date: {% if title.release_date is not None %}
                                                {{ title.release_date }}
                                            {% endif %}</h2>

                      <br />

                    <div class="">
                        <h2>Publishers:</h2>
                        <ul class="list-inline prod_size display-layout">
                            {% for publisher in publishers %}
                          <li>
                            <button class="btn btn-default btn-xs disabled">{{ publisher.name }}</button>
                          </li>
                            {% endfor %}
                        </ul>
                      </div>
                      <br />

                    <div class="">
                        <h2>Developers:</h2>
                        <ul class="list-inline prod_size display-layout">
                            {% for developer in developers %}
                          <li>
                            <button class="btn btn-default btn-xs disabled">{{ developer.name }}</button>
                          </li>
                            {% endfor %}
                        </ul>
                      </div>
                      <br />

                      <div class="">
                        <h2>Genres:</h2>
                        <ul class="list-inline prod_size display-layout">
                            {% for genre in genres %}
                          <li>
                            <button class="btn btn-default btn-xs disabled">{{ genre.name }}</button>
                          </li>
                            {% endfor %}
                        </ul>
                      </div>
                      <br />

                    <div>
                        <h2>Main time: {{ title.main_time }}h</h2>
                        <h2>Extra time: {{ title.extra_time }}h</h2>
                        <h2>Completion time: {{ title.completion_time }}h</h2>
                    </div>
                    <br />
                    <div class="">
                        <h2>State:</h2>
                        <ul class="list-inline prod_size display-layout">
                        {% for state in states %}
                          <li>
                          {% if state.1 == 0 %}
                              <button type="submit" class="btn btn-default btn-xs">{{ state.0 }}</button>
                              {% else %}
                              <button type="submit" class="btn btn-default btn-xs active">{{ state.0 }}</button>
                              {% endif %}
                          </li>
                            {% endfor %}
                        </ul>
                      </div>
                    <br />
                    <div class="">
                        <a class="btn btn-primary" href="{% url "move_game" game_version.db_id %}">Move</a>
                      </div>

                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}
