{% extends "base_site.html" %}
{% load i18n %}
{% block title %} {% trans "Game View" %} {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">

        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{% trans "Game Overview" %}</h3>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{{ title.title }}</h2>
                            <ul class="nav navbar-right panel_toolbox" style="min-width: 0">
                                <li><a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-4 col-sm-4">
                                <img class="center-block img-thumbnail" style="max-height: 40vh"
                                     src="{{ title.img_url }}" alt="..."/>
                            </div>

                            <div class="col-md-5 col-sm-5 " style="border:0px solid #e5e5e5;">

                                <div class="form-horizontal form-label-left">

                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12"
                                               for="description">{% trans "Description" %}
                                        </label>
                                        <div class="col-md-8 col-xs-12 col-xs-12">
                                            <textarea id="description" style="resize: none" disabled
                                                      class="form-control"
                                                      rows="3"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12"
                                               for="release-date">{% trans "Release Date" %}
                                        </label>
                                        <div class="col-md-8 col-xs-12 col-xs-12">
                                            {# If you do this directly you enter empty spaces in the value #}
                                            {% if game_version.release_date is not None %}

                                                <input type="text" disabled id="release-date"
                                                       value="{{ game_version.release_date }}"
                                                       class="form-control col-md-7 col-xs-12">

                                            {% elif title.release_date is not None %}
                                                <input type="text" disabled id="release-date"
                                                       value="{{ title.release_date }}"
                                                       class="form-control col-md-7 col-xs-12">
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12"
                                               for="release-date">{% trans "Publishers" %}
                                        </label>
                                        <div class="col-md-8 col-xs-12 col-xs-12">
                                            {% for publisher in publishers %}
                                                <span>
                                                    <button class="btn btn-default btn-xs disabled">{{ publisher.name }}</button>
                                                </span>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12"
                                               for="release-date">{% trans "Developers" %}
                                        </label>
                                        <div class="col-md-8 col-xs-12 col-xs-12">
                                            {% for developer in developers %}
                                                <span>
                                                    <button class="btn btn-default btn-xs disabled">{{ developer.name }}</button>
                                                </span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12"
                                               for="release-date">{% trans "Genres" %}
                                        </label>
                                        <div class="col-md-8 col-xs-12 col-xs-12">
                                            {% for genre in genres %}
                                                <span>
                                                    <button class="btn btn-default btn-xs disabled">{{ genre.name }}</button>
                                                </span>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12"
                                               for="release-date">{% trans "GameHoarder's Score" %}
                                        </label>
                                        <div class="col-md-8 col-xs-12 col-xs-12">
                                            <input type="text" disabled id="release-date"
                                                   value="{{ game_version.average_score }}"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12"
                                               for="release-date">{% trans "Main Time" %}
                                        </label>
                                        <div class="col-md-8 col-xs-12 col-xs-12">
                                            <input type="text" disabled id="release-date"
                                                   value="{{ title.main_time }} h"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">

                        <div class="x_title">
                            <h2>{% trans "User Information" %}</h2>
                            <ul class="nav navbar-right panel_toolbox" style="min-width: 0">
                                <li><a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">

                            <div class="form-horizontal form-label-left">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                           for="state">{% trans "State" %}
                                    </label>
                                    <div class="col-md-6 col-xs-12 col-xs-12">
                                        <input type="text" disabled id="state"
                                               value="{{ current_state|title }}"
                                               class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>

                                {% if current_state != "WISHLIST" and current_state != "INTERESTED" %}
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                               for="state">{% trans "Cost" %}
                                        </label>
                                        <div class="col-md-6 col-xs-12 col-xs-12">
                                            <input type="text" disabled id="state"
                                                   value="{{ current_item.price }} €"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                               for="state">{% trans "Date Adquired" %}
                                        </label>
                                        <div class="col-md-6 col-xs-12 col-xs-12">
                                            <input type="text" disabled id="state"
                                                   value="{{ current_item.date_adquired }}"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    {% if current_state != "QUEUE" %}
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                   for="state">{% trans "Date Started" %}
                                            </label>
                                            <div class="col-md-6 col-xs-12 col-xs-12">
                                                <input type="text" disabled id="state"
                                                       value="{{ current_item.date_started }}"
                                                       class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if current_state == "FINISHED" %}
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                   for="state">{% trans "Date Finished" %}
                                            </label>
                                            <div class="col-md-6 col-xs-12 col-xs-12">
                                                <input type="text" disabled id="state"
                                                       value="{{ current_item.date_finished }}"
                                                       class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                   for="state">{% trans "Time to Finish" %}
                                            </label>
                                            <div class="col-md-6 col-xs-12 col-xs-12">
                                                <input type="text" disabled id="state"
                                                       value="{{ current_item.time_to_finish }} h"
                                                       class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                   for="state">{% trans "Playstyle" %}
                                            </label>
                                            <div class="col-md-6 col-xs-12 col-xs-12">
                                                <input type="text" disabled id="state"
                                                       value="{{ current_item.playstyle }}"
                                                       class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                    {% endif %}

                                    {% if current_state == "PLAYED" %}
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                   for="state">{% trans "Date Stopped" %}
                                            </label>
                                            <div class="col-md-6 col-xs-12 col-xs-12">
                                                <input type="text" disabled id="state"
                                                       value="{{ current_item.date_stopped }}"
                                                       class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                    {% endif %}

                                    {% if current_state == "ABANDONED" %}
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                   for="state">{% trans "Date Abandoned" %}
                                            </label>
                                            <div class="col-md-6 col-xs-12 col-xs-12">
                                                <input type="text" disabled id="state"
                                                       value="{{ current_item.date_abandoned }}"
                                                       class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                    {% endif %}

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                               for="state">{% trans "Time Played" %}
                                        </label>
                                        <div class="col-md-6 col-xs-12 col-xs-12">
                                            <input type="text" disabled id="state"
                                                   value="{{ current_item.time_played }} h"
                                                   class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    </div>

                                {% endif %}

                            {# Buttons #}
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-danger" type="button">{% trans "Remove" %}</button>
                                    <a class="btn btn-primary" href="{% url "move_game" game_version.db_id %}">Edit</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">

                        <div class="x_title">
                            <h2>{% trans "Latests Reviews" %}</h2>
                            <ul class="nav navbar-right panel_toolbox" style="min-width: 0">
                                <li><a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <ul class="messages">
                                {% for review in game_version.review_set.all|slice:"5" %}
                                    <li>
                                        <img src="/images/{{ review.user.profile.avatar }}" class="avatar" alt="Avatar">
                                        <div class="message_date">
                                            <h3 class="date text-error">{{ review.date.day }}</h3>
                                            <p class="month">{{ review.date|date:"M" }}</p>
                                            <p class="month">{{ review.date.year }}</p>
                                        </div>
                                        <div class="message_wrapper">
                                            <h4 class="heading">{{ review.user.get_full_name }}
                                                - {{ review.score }}</h4>
                                            <blockquote class="message">{{ review.text }}
                                            </blockquote>
                                            <br>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>

        $(document).ready(function () {
            document.getElementById("description").defaultValue = "{{title.description}}";
        });

    </script>
    {{ block.super }}
{% endblock javascripts %}
